@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

:root {
  --codex-root-font-size: 16px;
  font-size: var(--codex-root-font-size);
}

:root[data-codex-font-size='sm'] {
  --codex-root-font-size: 14px;
}

:root[data-codex-font-size='md'] {
  --codex-root-font-size: 16px;
}

:root[data-codex-font-size='lg'] {
  --codex-root-font-size: 18px;
}
